@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root
{
    --vermelho: #e50914;
    --preta: #141414;
    --cinza: #aaa;
    --branco: #fff;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body
{
    background: var(--preta);
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--branco);
}

header .container
{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

header .logo img
{
    max-width: 180px;
    max-height: 180px;
}

header nav a
{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover
{
    color: var(--branco);
    transition: 0.5s;
}

/*filme principal*/
.filme-principal
{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0, .50)100%), url('/images/capa_friends.jpg');

    height: 900px;
    background-size: cover; /*pega a imagem toda*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao
{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}

.filme-principal .titulo
{
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Martel Sans', sans-serif;
}

.botao
{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: var(--branco);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover
{
    background-color: var(--vermelho);
    color: var(--branco);
}

.botao i
{
    margin-right: 8px;
}

.container
{
    margin-left: 20px;
}

.filme-principal .container
{
    width: 70%;
}

.box-serie
{
    height: 100%;
    width: 100%;
    display: block;
}

.tipo h2
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 30px;
}
